body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

/* Hintergrundvideo */
#backgroundVideo {
    position: fixed; /* Das Video bleibt im Hintergrund, auch beim Scrollen */
    top: 0;
    left: 0;
    width: 100vw; /* Das Video füllt die gesamte Breite */
    height: 100vh; /* Das Video füllt die gesamte Höhe */
    object-fit: cover; /* Das Video wird so skaliert, dass es den gesamten Bildschirm ausfüllt */
    z-index: -1; /* Video bleibt im Hintergrund */
}

/* Inhalt der Seite */
.content {
    position: relative; /* Setzt den Content über das Video */
    z-index: 1; /* Stellt sicher, dass der Inhalt über dem Video angezeigt wird */
    color: white; /* Damit der Text lesbar ist */
    text-align: center;
    padding-top: 50px;
}

.Container1 {
    position: absolute;
    right: 32px;
    left: 32px;
    top: 16px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2; /* Sicherstellen, dass der Container über dem Video ist */
    
}

.Menü-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 16px;
}

.Menü-link:hover {
    text-decoration: underline;
}

.Text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 90px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    gap: 40px; /* Abstand zwischen den Logos */
    padding: 20px;
    z-index: 1; /* Text bleibt über dem Video */
    
}

.red {
    color: red;
}

.ZweiterText {
    height: 500px;
    padding: 30px 100px;
    display: flex;
    gap: 50px;
    position: relative;
    color: white;

    z-index: 1; /* Sicherstellen, dass der Text auch über dem Video ist */
}

.Half-width {
    width: 50%;
}




h2 {
    text-align: center;
    font-size: 45px;
    height: 1000px;
    padding: 30px 100px;
    display: flex;
    gap: 50px;
    position: relative;
    text-decoration: underline;
}

/* Für kleinere Bildschirmgrößen */
@media (max-width: 700px) {
    .ZweiterText {
        flex-direction: column;
        align-items: center;
    }
}

/* Google Maps iFrame */
iframe {
    z-index: 1; /* Stellt sicher, dass die Karte im Vordergrund ist */
    border: none;
    width: 100%;
    height: 100%;
}


