* {
  margin: 0;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
}

#backgroundVideo {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.Eckbild1 {
  position: absolute;
  left: 0;
}

.Eckbild1 img {
  width: 100px;
  opacity: 0.6;
}

.Eckbild2 {
  position: absolute;
  right: 0;
}

.Eckbild2 img {
  width: 100px;
  opacity: 0.6;
  transform: scaleX(-1);
}

.Randbild1 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.Randbild1 img {
  opacity: 0.6;
}

.Randbild2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.Randbild2 img {
  opacity: 0.6;
  transform: scaleX(-1);
}

.Randbild3 {
  position: absolute;
  right: 280px;
  top: 877px;
}

.Randbild3 img {
  opacity: 0.13;
  height: 70px;
}

.head h1 {
  position: absolute;
  color: red;
  text-shadow: 0 10px #382e2e, 0 0 20px #ff0000, 0 0 30px #ff0000;
  margin-top: 30px;
  font-size: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Barrio", system-ui;
}

.games1 {
  text-align: right;
  position: absolute;
  margin-top: 120px;
  height: 100px;
  width: 300px;
  left: 50%;
  display: block;
  transform: translateX(-100%);
  justify-content: center;
  align-items: center;
}

.games1 button {
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 60px;
  width: 150px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Barrio", system-ui;
  opacity: 0.6;
}
.games1 button:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  animation: animate 20s linear infinite;
}
.games1 button:hover:before {
  opacity: 1;
}
.games1 button:hover:active {
  background: none;
}
.games1 button:hover:active:before {
  filter: blur(2px);
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.games2 {
  position: absolute;
  margin-top: 120px;
  height: 100px;
  width: 300px;
  right: 50%;
  display: block;
  transform: translateX(100%);
  justify-content: center;
  align-items: center;
}

.games2 button {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  height: 60px;
  width: 150px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Barrio", system-ui;
  opacity: 0.6;
}
.games2 button:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  animation: animate 20s linear infinite;
}
.games2 button:hover:before {
  opacity: 1;
}
.games2 button:hover:active {
  background: none;
}
.games2 button:hover:active:before {
  filter: blur(2px);
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer1 {
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  height: 100%;
  width: 600px;
  z-index: 1;
}

.footer2 {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.footer2 p {
  font-family: "Average Sans", serif;
}

.footer3 {
  height: 50px;
  display: flex;
  justify-content: center; /* Zentriert den Inhalt */
  align-items: center; /* Vertikal zentrieren */
}

.guestbook {
  display: block;
  scale: 10%;
  margin-bottom: 10px;
}
